@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
*{
  box-sizing: border-box;
}

.defPage header h1{
    color: darkviolet;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight:bolder;
    height: 40px;
}

.secPage header h1{
  color: darkviolet;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-weight:bolder;
  height: 40px;
}
.secPage nav ul{
  margin-top: 3px;
  margin-bottom: 10px;
}

.secPage fieldset{
  padding-top: 10px;
  padding-left: 10px;
}




nav ul {
  margin-top: 20px;
}
nav ul li{
  
  background-color:cornsilk;
}

header ul li{
    display: inline;
    color: rgb(63, 4, 88);
    border-style: solid;
    border-color:darkviolet;
    border-radius: 20%;
    padding: 10px;
    margin:50%;
}

main div {
    margin:8%;
    padding: 5%;
    border-style: solid;
    border-color: darkviolet;
    background-color: rgba(105, 105, 105, 0.432);


} 

main{
height: 2000px;

}

#Salamon Cookies table , th{

    border: 1px solid rgb(75, 32, 73);
    border-collapse: collapse;
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

#Salamon Cookies table,td{
    border: 1px solid rgb(158, 61, 110);
    border-collapse: collapse;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;

}


footer{
    text-align: center;
    text-decoration:underline ;
    color:darkslategray;
    border-style: solid;
    border-color: darkviolet;
    border-radius: 10px;
    height: 175px;
    background-color: blueviolet;
    color:black;
    padding-top: 50px;
    font-family:serif;
    line-height: 20px;
}



.ulTables li{
       display:inline-flex;
       margin: 20px;
padding:10px;
    }


.t1{
  border-style: solid;
  border-color:darkviolet;  
  text-align: center;
  text-transform:capitalize;
  font-family: Arial, Helvetica, sans-serif;
  color: blueviolet;
  background-color: whitesmoke;
}

.t2{
    border-style: solid;
    border-color:darkviolet;  
    text-align: center;
    text-transform:capitalize;
    font-family: Arial, Helvetica, sans-serif;
    color: blueviolet;
    background-color: whitesmoke;
  }

  .t3{
    border-style: solid;
    border-color:darkviolet;  
    text-align: center;
    text-transform:capitalize;
    font-family: Arial, Helvetica, sans-serif;
    color: blueviolet;
    background-color: whitesmoke;
  }
  .t4{
    border-style: solid;
    border-color:darkviolet;  
    text-align: center;
    text-transform:capitalize;  
    font-family: Arial, Helvetica, sans-serif; 
    color: blueviolet;
    background-color: whitesmoke;
  }

  .t5{
    border-style: solid;
    border-color:darkviolet;  
    text-align: center;
    text-transform:capitalize; 
    font-family: Arial, Helvetica, sans-serif; 
    color: blueviolet;
    background-color: whitesmoke;
  }
  fieldset {
    width : 100%;
    border: 1px solid rgb(184, 38, 184);
    box-sizing: border-box;
    background-color: violet;
    font-family: Arial, Helvetica, sans-serif;
    color: blueviolet;
  }

  .defPage{
    font-family:'Times New Roman', Times, serif;
    color: darkblue;
    background-color: rgb(202, 187, 158);
  }

  

  .secPage{
    background-color: rgb(202, 187, 158);
  }
